body {
  margin:0;
}

.lel {
  margin-left:56.5%;
  padding-top:2%;
}

.lel a {
  text-decoration:none;
  font-family:arial;
}

.middle {
  margin-top:0%;
  background-image:url(vert.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  margin-left:2.5%;
  width:95.1%;
  height:130%;
  border:1px solid black;
}

.titre {
  font-size:2em;
  font-family:arial;
  color:white;
  margin-top:10%;
  margin-left:10%;
  padding-bottom:19%;
}

.bouton1 {
  border-left:1px solid black;
  border-right:1px solid black;
  margin-left:0.7%;
  width:0.9%;
  height:2em;
  position:absolute;
  margin-top:19%;
}

.bouton2 {
  border-left:1px solid black;
  border-right:1px solid black;
  margin-left:-3.7%;
  width:2%;
  height:1px;
  position:absolute;
  margin-top:50px;
  padding:0;
}

.trait2 {
  margin-left:46%;
  border-left:1px solid black;
}

.trait {
  height:2em;
  margin-left:46%;
  border-left:1px solid black;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old) + label{
  position:absolute;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

#optionn:checked ~ .scroll{
  z-index:-2;
}

#optionn:checked ~ .sommaire{
  z-index:auto;
}

#option:checked ~ .contenu{

}

#somm2:checked ~ .scroll{
  z-index:1;
}


#somm3:checked ~ .scroll2 {
  z-index:1;
}

#somm4:checked ~ .scroll3 {
  z-index:1;
}

#somm6:checked ~ .scroll4 {
  z-index:1;
}

#optionn {
  margin-top:20%;
}

.sommaire {
  position:absolute;
  z-index:1;
  background-color:white;
  margin-top:0.2%;
  height:88%;
  width:55%;
  margin-left:2.7%;
  z-index:-1;
}

.sommaire div {
  text-align:center;
  padding-bottom:5%;
}

.sommaire div:first-child{
  padding-top:18%;
}

.scroll {
  margin-top:-20.5%;
  position:absolute;
  background-color:white;
  width:87%;
  overflow:scroll;
  height:93.2%;
  z-index:-2;
  margin-left:13%;
  font-family:arial;
  overflow-x:hidden;
}

.scroll>h2 {
  margin-top:13%;
  text-align:left;
  margin-bottom:0;
  margin-bottom:0;
}

.scroll p {
  text-align:left;
}

.soustitre {
  padding-top:0;
  font-family:serif;
  margin-top:1.3%;
  font-size:1em;
  font-style:italic;
}

.para {
  padding-top:1%;
  color:#BFBFBF;
  font-size:0.9em;
  line-height:1.6em;
  width:80%;
}

.menu1 {
  text-align:left;
  float:left;
  list-style:none;
  padding-left:0;
  font-family:sans-serif;
  font-size:0.9em;
}

.menu1 li {
  padding-bottom:12%;
  font-weight:bold;
}

.menu1 li span {
  color:#808080;
  font-weight:normal;
}

.menu2 {
  text-align:left;
  float:right;
  list-style:none;
  margin-right:30%;
  padding-left:0;
  font-family:sans-serif;
  font-size:0.9em;
}

.menu2 li {
  padding-bottom:12%;
  font-weight:bold;
}

.menu2 li span {
  color:#808080;
  font-weight:normal;
}

.hobbi {
  display:flex;
  margin-top:27%;
  font-family:sans-serif;
}

.hobbies {
  margin-right:15%;
}

.hobbies h3 {
  text-align:left;
  margin-bottom:0;
  font-size:3em;
}

.hobbies p {
  font-size:0.9em;
  margin-top:5%;
  text-align:left;
  color:grey;
}

.services h4 {
  font-size:2em;
  text-align:left;
  margin:0;
  margin-top:8%;
}

.services p {
  font-family:serif;
  font-size:1em;
  font-style:italic;
}

.logos {
  display:flex;
  flex-wrap:wrap;
}

.logos div {
  margin-top:3em;
  width:40%;
  margin-right:5%;
}

.logos img {
  padding-bottom:7%;
  height:25%;
}

.logos h4 {
  font-size:1.3em;
  margin:0;
  font-family:arial;
}

.logos div {
  text-align:left;
}

.logos p {
  font-size:1em;
  color:#808080;
  line-height:1.6em;
}

.scroll2 {
  margin-top:-28%;
  position:absolute;
  background-color:white;
  width:87%;
  overflow:scroll;
  height:93%;
  z-index:-2;
  padding-left:13%;
  overflow-x:hidden;
}

.scroll2 h2 {
  text-align:left;
  margin-top:-3%;
  margin-bottom:0;
  font-family:arial;
}

.scroll2 p {
  font-style:italic;
  font-family:serif;
  margin-top:1%;
  text-align:left;
}

.study{
  padding:1.3% 2.5% 1.3% 2.5% ;
  width:12%;
  text-align:left;
  font-family:arial;
  font-size:1.1em;
  color:white;
  background-color:black;
  margin-bottom:0;
}

.gdiv {
  border-left:1px solid black;
  height:180%;
  margin-bottom:8%;
}

.gdivfils{
  border-top:1px solid black;
  margin-top:-8%;
  width:10%;
}

.circle{
  margin-top:7%;
  margin-left:-44.5%;
  position:absolute;
  width:2.5%
}

.c2 {
  margin-top:38.5%;
}

.c3 {
  margin-top:70%;
}

.c4 {
  margin-top:101.8%;
}

.c5 {
  margin-top:149.5%;
}

.c6 {
  margin-top:181.3%;
}

.carre h4 {
  font-family:arial;
  text-align:left;
  margin-top:2%;
  margin-bottom:0;
}

.carre {
  background-color:white;
  padding:30%;
  border:1px solid black;
  margin-top:-8.5em;
  margin-left:3em;
  text-align:left;
  width:30em;
}

.carre p {
  color:#959595;
  font-family:serif;
  line-height:1.5em;
}

.gdivfils2 {
  border-top:1px solid black;
  margin-top:2%;
  width:10%;
}

.st2 {
  width:20%;
  padding:1.3% 2.5% 1.3% 2.5% ;
  text-align:left;
  font-family:arial;
  font-size:1.1em;
  color:white;
  background-color:black;
  margin-bottom:0;
}

.gdiv2 {
  height:90%;
  border-left:1px solid black;
  margin-bottom:8%;
}

.skills {
  height:10%;
}

.skills h4 {
  position:relative;
  float:left;
  margin:0;
  width:10%;
  font-family:arial;
  font-size:1em
}

.skills .pourcent {
  margin-top:0%;
  font-family:serif;
  width:10%;
  float:right;
}

.skills .traiit{
  margin-top:3%;
  position:absolute;
  border:1px solid black;
  width:83%;
  height:1%;
}

.traiitt {
  margin-top:3.4%;
  margin-left:0.5%;
  position:absolute;
  border-top:1px solid black;
  padding-top:10%;
  height:2px;
  width:75%;
}

.pourc2 {
  width:30%;
}

.pourc3 {
  width:60%;
}

.scroll3 {
  margin-top:-35.5%;
  position:absolute;
  background-color:white;
  width:87%;
  overflow:scroll;
  height:93%;
  z-index:-2;
  padding-left:13%;
  overflow-x:hidden;
}

.scroll3 h2 {
  text-align:left;
  margin-top:-3%;
  margin-bottom:0;
  font-family:arial;
}

.scroll3 p {
  font-style:italic;
  font-family:serif;
  margin-top:1.5%;
  text-align:left;
}

a[href="wiki.html"] img {
  height:10em;
  margin-right:60%;
}

.porto {
  width:80%;
}

.porto div {
  text-align:left;
  background-color:#F0F0F0;
  width:37.5%;
  margin-left:1%;
  margin-top:-1%;
  padding:3%;
}

.porto div h4 {
  font-family:arial;
  margin:0%;
  padding-bottom:2%;
  letter-spacing:0.1em;
}

.porto div p {
  font-family:serif;
  color:#808080;
  font-style:italic;
}

.porto div {
  margin-left:-0.20%;
  width:82%;
}

.cul {
  margin-right:90%;
}

.cul img {
  height:10em;
}

.cul2 img {
  height:21.2em;
}

.porto .porto3 {
  width:112%;
}

.flex {
  display:flex;
}

.scroll4 {
  margin-top:-50.5%;
  position:absolute;
  background-color:white;
  width:87%;
  overflow:scroll;
  height:93%;
  z-index:-2;
  padding-left:13%;
  overflow-x:hidden;
}

.scroll4 h2 {
  text-align:left;
  margin-top:-3%;
  margin-bottom:0;
  font-family:arial;
}

.scroll4 p {
  font-style:italic;
  font-family:serif;
  margin-top:1.5%;
  text-align:left;
}

.flex div h4 {
  font-family:arial;
  text-align:left;
  margin-bottom:10%;
}

.flex div {
  margin-right:10%;
}

.flex div p {
  font-family:serif;
  font-size:0.8em;
}

.flex div img {
  margin-right:70%;
}

.flex2 {
  display:flex;
  flex-direction:column;
}

.flex2 input {
  width:75%;
  padding-left:2%;
  height:3.5em;
  outline:none;
  color:#9B9B9B;
  margin-bottom:1.3em;
}

.flex2 div h4 {
  text-align:left;
  color:#9B9B9B;
  font-family:arial;
}

.flex2 div {
  border:1px solid #9B9B9B;
  width:30%;
  padding-left:4.2%;
  font-size:0.9em;
}

#mess {
  padding-bottom:10em;
}

input {
  width:20%;
}

input#optionn {
  width:3%;
  height:5%;
}
