body {
  margin:0px;
    font-family:arial;
}

#header {
  height:100px;
  display:inline-block;
}

.logo {
  margin-top:0px;
  margin-left:75px;
  width:100px;
  float:left;
}

.logo img {
  height:55px;
}

.liste {
  list-style-type:none;
  margin-left:300px;
}

.bold {
  font-weight:bold;
  display:inline;
}

.liste li {
  display:inline;
  margin-left:30px;
  text-transform:uppercase;
}

.clique {
  display:inline;
  border:1px solid #2BBF77;
  color:#2BBF77;
  margin-right:50px;
  padding:10px 25px 10px 25px;
  border-radius:5px;
}

.fond {
  background-image:url("photo.jpg");
  padding:90px;
  padding-top:10px;
  height:530px;
}

.donne {
  background-color:white;
  height:475px;
  width:400px;
  margin-top:30px;
  padding:20px 40px 40px 30px;
}

.featured {
  margin-top:20px;
  background-color:black;
  color:white;
  border-radius:5px;
  height:15px;
  width:80px;
  font-size:12px;
  padding:8px 0px 5px 12px;
  text-transform:uppercase;
}

.left {
  margin-top:25px;
  float:right;
  color:grey;
}

.titre1 {
  font-size:16px;
  padding-top:10px;
  line-height:30px;
  text-transform:uppercase;
}

.txt {
  font-size:15px;
  line-height:30px;
  text-align:justify;
  color:grey;
}

.argent {
  margin-top:30px;
  border-top:1px solid grey;
  text-transform:uppercase;
}

.raiseed {
  height:100px;
  width:150px;
  float:left;
}

.raised {
  color:grey;
  font-size:14px;
  height:20px;
  width:120px;
  margin-top:10px;
  margin-bottom:0;
}

.raised2 {
  color:#2BBF77;
  font-size:30px;
  margin:0;

}

.goaal {
  float:right;
  border-left:1px solid grey;
  padding-left:40px;
  margin-right:70px;
}

.goal {
  font-size:14px;
  color:grey;
  margin-top:11px;
  margin-bottom:0;

}

.goal2 {
  padding-bottom:20px;
  margin:0;
  font-size:30px;
  color:black;
  margin-top:3px;
}

.donate {
  margin-top:130px;
  background-color:#2BBF77;
  width:160px;
  height:40px;
  margin-left:100px;
  color:white;
  padding:20px 0px 0px 40px;
  border-radius:5px;
}

.bas {
  margin-top:100px;
}

.help {
  background-color:grey;
  color:white;
  height:25px;
  width:185px;
  padding:0px 0px 0px 15px ;
  margin-left:auto;
  margin-right:auto;
  padding:13px 0px 5px 20px;
  border-radius:5px;
  font-size:14px;
  text-transform:uppercase;
}

.thousand {
  margin-top:30px;
  height:100px;
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  font-size:16px;
  line-height:35px;
  text-transform:uppercase;
}

.b3b p {
  color:grey;
}

.b3bb h3 {
  text-transform:uppercase;
}

.b3bb {
  margin-left:190px;
  float:left;
  height:200px;
  width:300px;
  text-align:center;
}

.b4bb {
  margin-left:30px;
  float:left;
  width:300px;
  text-align:center;
}

.b4bb h3 {
  text-transform:uppercase;
}

.b5bb {
  float:right;
  width:300px;
  text-align:center;
  margin-right:190px;
}

.b5bb h3 {
  text-transform:uppercase;
}
