body {
  margin:0;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  position:absolute;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  font-family:serif;
  font-weight:bold;
}

input[type=checkbox]:not(old):checked + label,
input[type=radio]:not(old):checked + label{
  display:none;
}

#option:checked ~ .text {
  display:none;
}

.test {
  width:500px;
  background-color:red;
  height:500px;
}

.text {
  margin-top:200px;
  background-color:blue;
}

margin:0.2%;
position:absolute;
height:66.2%;
background-color:white;
padding-left:23%;
padding-right:23%;
padding-top:9.8%;
text-align:center;
font-weight:bold;
font-family:arial;
margin-left:2.8%;
z-index:-1;
